In [ ]:
#Question 1
A database is a collection of data that is organized in a way that allows for efficient storage, retrieval, and 
manipulation of the data. 
There are two main types of databases: SQL (relational) and NoSQL (non-relational).

SQL databases are based on the relational data model, where data is organized into tables with rows and columns. 
SQL (Structured Query Language) is used to query and manage the data stored in these tables. 
Examples of SQL databases include MySQL, Oracle, Microsoft SQL Server,etc. SQL databases are known for their strong 
consistency, ACID transactions, and support for complex queries and data relationships.

NoSQL databases, on the other hand, are not based on the relational data model. Instead, they use different data models, 
such as document, key-value, graph, or column-family. NoSQL databases typically provide high scalability and availability,
as well as flexible data structures that can be easily modified. Examples of NoSQL databases include MongoDB, Cassandra, etc. NoSQL databases are often used in big data, real-time analytics, and web-scale applications.

In summary, SQL databases are best suited for applications that require strong consistency and complex queries, 
while NoSQL databases are more suitable for applications that require high scalability, availability, and flexibility. 
Choosing the right database depends on the specific requirements of the application and the data being stored.

In [ ]:
#QUestion 2
DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that is used to define 
and modify the structure of a database. DDL statements are used to create, modify, and delete database objects such
as tables, indexes, views, and constraints.

(i) CREATE - CREATE: The CREATE statement is used to create a new database object such as a table. 
Here's an example of creating a table named "users" with three columns: "id", "name", and "email".

In [1]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
conn.execute('''CREATE TABLE users
                 (id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL,
                  email TEXT NOT NULL);''')

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
DROP: The DROP statement is used to remove a database object such as a table. 
Here's an example of dropping the "users" table:

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
# drop the table
conn.execute('DROP TABLE users;')

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
ALTER: The ALTER statement is used to modify the structure of a database object such as a table. 
Here's an example of adding a new column "age" to the "users" table:

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
# add a new column to the table
conn.execute('ALTER TABLE users ADD COLUMN age INTEGER;')

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, but keep the table structure intact. 
Here's an example of truncating the "users" table:

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
# truncate the table
conn.execute('DELETE FROM users;')

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
#Question 3
DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) that is 
used to manipulate the data stored in a database. 
DML statements are used to insert, update, and delete data from database tables.

In [ ]:
INSERT: The INSERT statement is used to add new rows of data to a table. 
Here's an example of inserting a new row into the "users" table:

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()

# insert a new row into the table
conn.execute("INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com');")

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
UPDATE: The UPDATE statement is used to modify existing rows of data in a table.
Here's an example of updating the email of a user with the name "Alice":

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
# update the email of a user
conn.execute("UPDATE users SET email = 'new-email@example.com' WHERE name = 'Alice';")

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
DELETE: The DELETE statement is used to remove rows of data from a table. 
Here's an example of deleting all users with an email ending in "@example.com":

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
# delete users with a matching email
conn.execute("DELETE FROM users WHERE email LIKE '%@example.com';")

# commit the changes and close the connection
mydb.commit()
mydb.close()

In [ ]:
#Question 4
DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is used to query data from a database. 
DQL statements are used to retrieve data from database tables.

In [ ]:
SELECT - The execute() method of the connection object is used to execute the SELECT statement, 
and the cursor object is used to iterate over the results. 
The * character is used as a wildcard to select all columns from the table. 
Example->

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()
cursor = conn.execute("SELECT * FROM users;")

# iterate over the results and print each row
for row in cursor:
    print(row)

# close the cursor and connection
cursor.close()
mydb.close()

In [ ]:
#Question 5
In relational databases, a primary key is a column or set of columns that uniquely identifies each row in a table. 
It is a constraint that ensures that each row in the table is unique and can be uniquely identified. 
Primary keys are used to establish relationships between tables,  and are often used as the basis for foreign keys in related tables.
A foreign key is a column or set of columns in one table that refers to the primary key of another table. 
It establishes a relationship between two tables, allowing you to link data across tables. 
The foreign key constraint ensures that the values in the column(s) of the referencing table (the one with the foreign key)
match the values in the primary key column(s) of the referenced table. 
This ensures referential integrity, which means that the data in the database is consistent and accurate.

In [ ]:
#Question 6
Code->
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
conn = mydb.cursor()

After this we can perform any operation that we want on this database.
The execute() method of the connection object is used to execute the SELECT statement, 
and the cursor object is used to iterate over the results.

In [ ]:
#Question 7
In a standard SQL query, the clauses are executed in a specific order, as follows:

FROM: The FROM clause specifies the table or tables from which to select data.

JOIN: If multiple tables are used, the JOIN clause is used to specify how the tables are related.

WHERE: The WHERE clause is used to filter the data based on a specified condition.

GROUP BY: The GROUP BY clause is used to group the data by one or more columns.

HAVING: The HAVING clause is used to filter the grouped data based on a specified condition.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the data.

DISTINCT: The DISTINCT keyword is used to remove duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set by one or more columns.

LIMIT/OFFSET: The LIMIT clause is used to specify the maximum number of rows to be returned, 
while the OFFSET clause is used to skip a certain number of rows from the beginning of the result set.